.showcase {
    height: 980px;
    width: 1420px;
    margin: 100px;
}

.headerList {
    list-style: none;
}

.navheader {
    border-top : 2px solid $primary;
    border-bottom : 2px solid $primary;
}